## Documenting Your code

In [1]:
# Comments 
# Importing packages/libraries/modules for time series analysis 
import warnings # Package for creating warnings 
import itertools
import numpy as np # Package for numerical analysis
import matplotlib.pyplot as plt # Module for visualization
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [21]:
data_student = 'Deborah' # Data Science Student

In [4]:
print(data_student)

Deborah

In [6]:
# Commenting out
# print(data_student)

In [7]:
# Docstrings 
print("Hello" + " " + data_student)

Hello Deborah

In [18]:
def greetings(word):
    """
    A function for saying hello
    
    """
    print(f"Hello {word}")

In [19]:
greetings(data_student)

Hello Deborah

In [ ]:
greetings()

In [ ]:
# Python Style Guide aka PEP8
def multiplier(
            var_one, var_two, var_three,
            var_four):

## Learning Through Articles

https://towardsdatascience.com/python-water-quality-eda-and-potability-analysis-ebc1cf553081

In [1]:
import sys
print(sys.version) # displays the version of python installed

3.10.9 (main, Mar  1 2023, 12:33:47) [Clang 14.0.6 ]

In [2]:
# import pandas and numpy
import pandas as pd 
import numpy as np

In [3]:
import math
import statistics as st

In [4]:
list_numbers = [23, 45, 67]

In [5]:
st.mean(list_numbers)

45

In [6]:
df = pd.read_csv('water_potability.csv')

In [7]:
df.head(20)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
8,NaN,118.988579,14285.583854,7.804174,268.646941,389.375566,12.706049,53.928846,3.595017,0
9,11.180284,227.231469,25484.508491,9.077200,404.041635,563.885481,17.927806,71.976601,4.370562,0
10,7.360640,165.520797,32452.614409,7.550701,326.624353,425.383419,15.586810,78.740016,3.662292,0
11,7.974522,218.693300,18767.656682,8.110385,NaN,364.098230,14.525746,76.485911,4.011718,0
12,7.119824,156.704993,18730.813653,3.606036,282.344050,347.715027,15.929536,79.500778,3.445756,0
13,NaN,150.174923,27331.361962,6.838223,299.415781,379.761835,19.370807,76.509996,4.413974,0
14,7.496232,205.344982,28388.004887,5.072558,NaN,444.645352,13.228311,70.300213,4.777382,0
15,6.347272,186.732881,41065.234765,9.629596,364.487687,516.743282,11.539781,75.071617,4.376348,0
16,7.051786,211.049406,30980.600787,10.094796,NaN,315.141267,20.397022,56.651604,4.268429,0
17,9.181560,273.813807,24041.326280,6.904990,398.350517,477.974642,13.387341,71.457362,4.503661,0
18,8.975464,279.357167,19460.398131,6.204321,NaN,431.443990,12.888759,63.821237,2.436086,0
19,7.371050,214.496610,25630.320037,4.432669,335.754439,469.914551,12.509164,62.797277,2.560299,0

In [8]:
df_potable = df[df['Potability'] == 1]

In [9]:
df_potable.head(20)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
250,9.445130,145.805402,13168.529156,9.444471,310.583374,592.659021,8.606397,77.577460,3.875165,1
251,9.024845,128.096691,19859.676476,8.016423,300.150377,451.143481,14.770863,73.778026,3.985251,1
252,NaN,169.974849,23403.637304,8.519730,NaN,475.573562,12.924107,50.861913,2.747313,1
253,6.800119,242.008082,39143.403329,9.501695,187.170714,376.456593,11.432466,73.777275,3.854940,1
254,7.174135,203.408935,20401.102461,7.681806,287.085679,315.549900,14.533510,74.405616,3.939896,1
255,7.657991,236.960889,14245.789121,6.289065,373.165363,416.624189,10.464239,85.852769,2.437296,1
256,8.322987,207.252462,28049.646283,8.827061,297.813085,358.725869,18.709273,60.911420,4.052136,1
257,5.934279,223.858125,23249.653834,4.602850,NaN,277.384537,11.366863,66.623944,5.217895,1
258,9.802721,98.771644,27357.456745,9.218150,323.199077,512.428731,14.168934,59.454440,2.764634,1
259,6.101955,215.268090,15976.926225,8.857160,308.482695,417.843553,13.147279,62.505642,3.535596,1
260,4.997771,280.082411,26849.194735,6.130757,374.232961,297.611540,15.571571,70.560275,3.404633,1
261,4.815767,217.687093,16392.135069,7.461170,278.742296,481.480828,15.517296,77.693374,4.375224,1
262,6.548021,278.585105,25508.386949,6.749378,366.871502,497.321753,16.563167,79.323678,3.611860,1
263,13.175402,47.432000,19237.949676,8.907020,375.147315,500.245952,12.083896,NaN,4.106924,1
264,6.618011,233.661636,19598.860740,4.701049,432.556385,401.669791,11.766146,73.191921,4.437696,1
265,7.788055,212.691457,29879.060146,6.998962,360.668259,359.569082,14.828743,83.856336,3.368757,1
266,5.191834,211.094185,14866.103863,7.238691,323.109285,388.716580,17.780000,83.505406,3.859801,1
267,5.626340,230.857983,14442.418875,5.210369,NaN,346.553206,11.368702,43.195182,1.943319,1
268,6.869639,251.293448,21728.821295,8.803175,279.776857,539.466877,12.994140,56.409708,4.726702,1
269,9.058628,155.357557,15737.468938,7.251979,343.233977,463.389256,17.854470,83.175189,3.652134,1